.navLinkStyle, .paragraphLinkStyle {
    font-size: 1.25rem;
    color: white;
};

.navLinkStyle:hover {
    text-decoration: none;
}

.paragraphLinkStyle:hover {
    cursor: pointer;
    text-decoration: underline;
}