.modalContainer {
    width: 30%;
    min-width: 325px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;    
    z-index: 1;
    animation: openModal 0.5s forwards;
}

.title {
    font-size: 1.4rem;
    color: white;
    padding: 10px 0 10px 10px;
    margin-bottom: 0;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.buttonContainer button {
    padding: 5px 25px;
}

.buttonContainer button:first-child {
    margin-right: 15px;
}

.error {
    background: white;
    color: black;
    font-weight: bold;
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}