.allUpcomingEvents {
    font-size: 1.5rem;
    font-weight: bold;
}

.eventDetails {
    font-weight: 500;
    font-size: 1.1rem;
}

.eventImage {
    margin: 0 auto;
    width: 90%;
    max-height: 175px;
    border: 2px solid black;
    border-radius: 10px;    
}

.eventImage:hover {
    cursor: default;
}

.eventDescription {
    font-size: .95rem;
    max-height: 200px;
    overflow-y: scroll;
}
